# Logs
logs
*.log
npm-debug.log*

# Dependency directories
node_modules/

# Build directories
build/
dist/

# System files
.DS_Store
Thumbs.db

# IDE/editor directories and files
.vscode/
.idea/
*.suo
*.ntvs*
*.njsproj
*.sln

# Environment variables
.env

# Miscellaneous
*.lock
yarn-error.log
